<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px;">
    <%= f.text_field :title, class: "form-control input-lg", placeholder: "标题 / Title" %>
  </div>
  <%= f.text_area :body, class: "form-control wysihtml5", rows: 30 %>

  <% content_for :script do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.wysihtml5').wysihtml5({
          "image": false,
          "color": true
        });
    })
  </script>
  <% end -%>

  <div style="margin-top: 10px;">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
