<div class="page-header"><h1>
  <%=
    if action_name == "my"
      "我的 / My posts"
    elsif action_name == "scored"
      "已评 / Rated posts"
    elsif action_name == "favorite"
      "收藏 / Favorite posts"
    elsif params[:search]
      "Search #{params[:search]}: "
    else
      "所有 / All posts"
    end
   %>

</h1></div>

<table class="table">
  <thead>
    <tr>
      <th>
        <%= link_to "标题", params.merge(sort: "title"), style: "color: inherit;" %>
      </th>
      <th width="80px">
        <%= link_to "作者", params.merge(sort: "author"), style: "color: inherit;" %>
      </th>
      <th width="100px">
        <%= link_to "学院", params.merge(sort: "department"), style: "color: inherit;" %>
      </th>
      <th width="120px">
        <%= link_to "时间", params.merge(sort: "time"), style: "color: inherit;" %>
      </th>
      <th width="100px">
        <%= link_to "学生评分", params.merge(sort: "score"), style: "color: inherit;" %>
      </th>
      <th width="100px">
        <%= link_to "教师评分", params.merge(sort: "teacher_score"), style: "color: inherit;" %>
      </th>
      <th width="100px"></th>
    </tr>
  </thead>

  <tbody>
    <% if is_admin? or is_teacher? or is_post_show? %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post, target: "_blank" %></td>
          <td><%= link_to post.author_name, root_path(search: post.author_name), style: "color: inherit;" %></td>
          <td><%= link_to post.author_department ? post.author_department.truncate(4, omission: "") : "N/A", root_path(search: post.author_department), style: "color: inherit;" %></td>
          <td><%= kind_time post.created_at %></td>
          <td><%= format("%.2f", post.score) %>,
            <%= "#{post.scores_count} ppl" %>
          </td>
          <td><%= format("%.2f", post.teacher_score) %>,
            <%= "#{post.teacher_scores_count} ppl" %>
          </td>
          <td>
            <% if is_admin? %>
              <%= link_to "Edit", edit_post_path(post) %>
              | <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %>
            <% end -%>
          </td>
        </tr>
      <% end %>
    <% end -%>
  </tbody>
</table>
<% if is_admin? or is_post_show? %>
  <% if @scores %>
  <%= paginate @scores %>
  <% else %>
  <%= paginate @posts %>
  <% end -%>
<% end -%>
