<h1>
  <%= 
    if action_name == "my"
      "My"
    elsif params[:author]
      if @posts.first
        "#{@posts.first.author_name}'s"
      else
        "#{params[:author]}'s"
      end
    else
      "All"
    end
   %>
  posts
</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        <%= link_to "Title", params.merge(sort: "title"), style: "color: inherit;" %>
      </th>
      <th>
        <%= link_to "Author", params.merge(sort: "author"), style: "color: inherit;" %>
      </th>
      <th width="140px">
        <%= link_to "Created at", params.merge(sort: "time"), style: "color: inherit;" %>
      </th>
      <th width="150px">
        <%= link_to "Score", params.merge(sort: "score"), style: "color: inherit;" %>
      </th>
      <th width="100px"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= link_to post.author_name, root_path(author: post.author_id), style: "color: inherit;" %></td>
        <td><%= kind_time post.created_at %></td>
        <td><%= post.score %> from <%= pluralize post.scores_count, "person" %></td>
        <td>
          <% if is_admin? or post.author_id == current_user.id %>
            <%= link_to "Edit", edit_post_path(post) %> |
            <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>
