<article>
  <% if current_user.like? @post %>
    <%= link_to "取消收藏", unlike_post_path(@post), class: "btn btn-default pull-right" %>
  <% else %>
    <%= link_to "加入收藏", like_post_path(@post), class: "btn btn-primary pull-right" %>
  <% end -%>
  <% if is_admin? %>
    <% if @post.is_top? %>
      <%= link_to "取消置顶", untop_post_path(@post), class: "btn btn-default pull-right", style: "margin-right:10px" %>
    <% else %>
      <%= link_to "置顶", top_post_path(@post), class: "btn btn-primary pull-right", style: "margin-right:10px" %>
    <% end -%>
  <% end -%>
  <h1 class="text-center"><%= @post.title %></h1>
  <div class="text-right">
    <b><%= link_to @post.author_name, root_path(search: @post.author_name), style: "color: inherit;" %></b><br>
    <% if @post.author_department.present? %>
      <%= @post.author_department %><br>
    <% end -%>
    <span class="text-muted"><%= kind_time @post.created_at %></span>
  </div>
  <br>
  <div class="body">
    <%= raw @post.body %>
  </div>
  <br>
  <% if @post.updated_at != @post.created_at %>
    <div class="text-muted text-right">最后修改时间：<%= kind_time @post.updated_at %></div>
  <% end -%>
</article>

<% can_score = (current_user.can_score? @post and (!@scores.present? or @scores.size < 3)) %>
<% teacher_can_score = current_user.teacher_can_score? @post %>
<% my_score = current_user.scores.where(post: @post).first %>


<% if is_scores? %>
  <div id="raty">
    <span>学生打分</span>
    <br>
    <span>
      学生互评人数上限为3，单篇文章被评价次数上限为3次，且必须完成3次评价
      <% if !is_teacher? %>
        (<span class="text-danger"><% if current_user.is_scores? %>未完成<% else %>完成<% end %></span>)
      <% end %>
    </span>
    <div id="raty-alt">
      <ul>
        <li>方案完整性</li>
        <li>是否评述不同观点</li>
        <li>给出规定的具体程度</li>
        <li>理性逻辑程度</li>
      </ul>
      <ul>
        <% 4.times do |i| %>
        <li>
          <% if can_score %>
            <div data-toggle="raty" <%= 'disabled' unless can_score %> data-score="0" data-input="#score_point<%= i + 1 %>">
            <% 5.times do |j| %>
              <a href="###" class="glyphicon rate" title="<%= j + 1 %>分"></a>
            <% end -%>
            </div>
          <% else %>
            <div data-toggle="raty" <%= 'disabled' unless can_score %> data-score="<%= @scores.present? ? @scores.inject(0){|sum, a| sum + a.send("point#{i+1}")} / @scores.count : 0 %>" data-input="#score_point<%= i + 1 %>">
            <%= raw '<span class="glyphicon rate"></span> ' * 5 %>
            </div>
          <% end -%>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="text-muted" style="clear:both; margin-top: 50px;">
      <% if @scores.present? %>
        Totally: <%= format("%.2f", @post.score) %>,
        from <%= raw @scores.map{ |s| s.user_id == current_user.id ? h(s.user_name) + " (" + link_to("取消", unscore_post_path(@post), class: "text-danger") + ")" : h(s.user_name) }.join(", ") %>
      <% else %>
        No one has rated yet. / 还没有人打分。
      <% end -%>
    </div>
  </div>
  <div id="raty">
    <span>教师打分</span>
    <div id="raty-alt">
      <ul>
        <li>方案完整性</li>
        <li>是否评述不同观点</li>
        <li>给出规定的具体程度</li>
        <li>理性逻辑程度</li>
      </ul>
      <ul>
        <% 4.times do |i| %>
        <li>
          <% if teacher_can_score %>
            <div data-toggle="raty" <%= 'disabled' unless teacher_can_score %> data-score="0" data-input="#score_point<%= i + 1 %>">
            <% 5.times do |j| %>
              <a href="###" class="glyphicon rate" title="<%= j + 1 %>分"></a>
            <% end -%>
          <% else %>
            <div data-toggle="raty" <%= 'disabled' unless teacher_can_score %> data-score="<%= @teacher_scores.present? ? @teacher_scores.inject(0){|sum, a| sum + a.send("point#{i+1}")} / @teacher_scores.count : 0 %>" data-input="#score_point<%= i + 1 %>">
            <%= raw '<span class="glyphicon rate"></span> ' * 5 %>
          <% end -%>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="text-muted" style="clear:both; margin-top: 50px;">
      <% if @teacher_scores.present? %>
        Totally: <%= format("%.2f", @post.teacher_score) %>,
        from <%= raw @teacher_scores.map{ |s| s.user_id == current_user.id ? h(s.user_name) + " (" + link_to("取消", unscore_post_path(@post), class: "text-danger") + ")" : h(s.user_name) }.join(", ") %>
      <% else %>
        No one has rated yet. / 还没有人打分。
      <% end -%>
    </div>
  </div>

  <% if can_score || teacher_can_score %>
    <%= form_for "score", url: score_post_path(@post), html: { style: "display: none;" } do |f| %>
      <%= f.hidden_field "point1", data: { toggle: "rate" } %>
      <%= f.hidden_field "point2", data: { toggle: "rate" } %>
      <%= f.hidden_field "point3", data: { toggle: "rate" } %>
      <%= f.hidden_field "point4", data: { toggle: "rate" } %>
      <%= f.submit %>
    <% end -%>
  <% end -%>
<% end %>
<div id="comments">
  <h3><%= pluralize(@post.comments.length, "reply") %> /
    <%= @post.comments.length %> 回复: </h3>
  <% @comments.each do |comment| %>
    <hr class="m0">
    <div class="one-comment" id="comment-<%= comment.level %>" data-level="<%= comment.level %>">
      <% if comment.deleted_at %>
      <div class="text-center text-muted" style="text-decoration: line-through; margin: 5px;">#<%= comment.level %> has been deleted</div>
      <% else %>
      <span style="color: #777;"><%= comment.author_name %></span> &nbsp;
      <span style="color: #BBB;"><%= comment.level %>楼, <%= kind_time comment.created_at %></span>
      <div class="pull-right in">
        <a href="###" class="text-muted" data-toggle="comment"><span class="glyphicon glyphicon-comment"></span></a>
        <% if is_admin? %>
          &nbsp;
          <%= link_to delete_comment_path(comment), class: "text-muted", method: :delete do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end -%>
        <% end -%>
      </div>
      <div style="white-space: pre-line; margin: 5px;"><%= raw comment.body %></div>
      <% end -%>
    </div>
  <% end -%>
  <hr style="margin: 0 0 10px;">
  <%= form_for @comment, url: comment_post_path(@post) do |f| %>
    <%= f.submit "Comment", class: "btn btn-default pull-right" %>
    <div style="margin-right: 95px">
      <%= f.text_area :body, class: "form-control", id: "comment-input", rows: 1 %>
    </div>
  <% end -%>
</div>

<% content_for :script do %>
<script>
  $('textarea').one("focusin", function () {
    $(this).attr("rows", 3);
  }).keydown(function (e) {
    if ((e.metaKey || e.ctrlKey) && e.keyCode == 13) {
      $(this).closest("form").submit();
    }
  })
  $('[data-toggle="comment"]').click(function () {
    var $input = $('#comment-input');
    var val = $input.val();
    if (val != "") {
      val += "\n";
    };
    val += "#" + $(this).closest('[data-level]').attr('data-level') + '楼 ';
    $input.focus().val(val);
    return false;
  })
  $('[data-toggle="rate"]').change(function () {
    var $this = $(this);
    var points = $('[data-toggle="rate"]');
    var score = 0;
    for (var i = points.length - 1; i >= 0; i--) {
      if (points[i].value == "") {
        return;
      } else {
        score += parseInt(points[i].value, 10);
      }
    };

    if (score == 20) {
      if (!confirm("满分只能给一次，你是否要继续提交?")) {
        return false;
      }
    }
    $this.parent().submit();
  })
</script>
<% end -%>