<article>
  <h1 class="text-center"><%= @post.title %></h1>
  <div class="text-right">
    <b><%= @post.author_name %></b>
    <br>
    <span class="text-muted"><%= kind_time @post.created_at %></span>
  </div>
  <br>
  <div class="body">
    <%= raw @post.body %>
  </div>
  <br>
  <% if @post.updated_at != @post.created_at %>
    <div class="text-muted text-right">最后修改时间：<%= kind_time @post.updated_at %></div>
  <% end -%>
</article>

<div id="raty">
  <p class="text-left muted">
    点击星星将生成分数，每颗星星代表一分，不评价将默认为0。
  </p>
  <div id="raty-alt">
    <ul>
      <li>方案完整性0-5分</li>
      <li>是否评述不同观点0-5分</li>
      <li>给出规定的具体程度0-5分</li>
      <li>理性逻辑程度0-5分</li>
    </ul>
    <ul>
      <% for i in 1..4 do %>
      <li>
        <div data-toggle="raty" <%= 'disabled' unless current_user.can_score? (@post) %> data-score="<%= @post.score %>">
          <% if current_user.can_score? (@post) %>
            <% 5.times do |i| %>
              <a href="<%= score_post_path(@post, i + 1) %>" class="glyphicon rate" title="<%= i+1 %>分"></a>
            <% end -%>
          <% else %>
            <% for i in 1..5 do %>
            <%= raw '<span class="glyphicon rate"></span>' %>&nbsp;&nbsp;
            <% end %>
          <% end -%>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <!-- <div data-toggle="raty" <%= 'disabled' unless current_user.can_score? (@post) %> data-score="<%= @post.score %>">
    <% if current_user.can_score? (@post) %>
      <% 5.times do |i| %>
        <a href="<%= score_post_path(@post, i + 1) %>" class="glyphicon rate" title="<%= i+1 %>分"></a>
      <% end -%>
    <% else %>
      <% for i in 1..4 do %>
      <%= raw '<span class="glyphicon rate"></span> ' * 5 %>&nbsp;&nbsp;
      <% end %>
    <% end -%>
  </div> -->
  <div class="text-muted" style="clear:both;margin-top: 50px;">
    <% if @post.scores.present? %>
      <%= @post.score %> out of 20, from <%= @post.scores.map{ |s| s.user.name }.join(", ") %> <br>   总分20 平均分<%= @post.score %> 来自<%= @post.scores.map{ |s| s.user.name }.join(", ") %>
    <% else %>
      No one has scored yet. / 还没有人打分。
    <% end -%>
  </div>
</div>

<div id="comments">
  <h3><%= pluralize(@post.comments.count, "reply") %>/ 
    <%= pluralize(@post.comments.count, "") %>回复: </h3>
  <% @comments.each do |comment| %>
    <hr class="m0">
    <div class="one-comment" id="comment-<%= comment.level %>" data-level="<%= comment.level %>">
      <% if comment.deleted_at %>
      <div class="text-center text-muted" style="text-decoration: line-through; margin: 5px;">#<%= comment.level %> has been deleted</div>
      <% else %>
      <span style="color: #777;"><%= comment.author_name %></span> &nbsp;
      <span style="color: #BBB;"><%= comment.level %>楼, <%= kind_time comment.created_at %></span>
      <div class="pull-right in">
        <a href="###" class="text-muted" data-toggle="comment"><span class="glyphicon glyphicon-comment"></span></a>
        <% if is_admin? %>
          &nbsp;
          <%= link_to delete_comment_path(comment), class: "text-muted", method: :delete do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end -%>
        <% end -%>
      </div>
      <div style="white-space: pre-line; margin: 5px;"><%= raw comment.body %></div>
      <% end -%>
    </div>
  <% end -%>
  <hr style="margin: 0 0 10px;">
  <%= form_for @comment, url: comment_post_path(@post) do |f| %>
    <%= f.submit "Comment", class: "btn btn-default pull-right" %>
    <div style="margin-right: 95px">
      <%= f.text_area :body, class: "form-control", id: "comment-input", rows: 1 %>
    </div>
  <% end -%>
</div>

<% content_for :script do %>
<script>
  $('textarea').one("focusin", function () {
    $(this).attr("rows", 3);
  }).keydown(function (e) {
    if ((e.metaKey || e.ctrlKey) && e.keyCode == 13) {
      $(this).closest("form").submit();
    }
  })
  $('[data-toggle="comment"]').click(function () {
    var $input = $('#comment-input');
    var val = $input.val();
    if (val != "") {
      val += "\n";
    };
    val += "#" + $(this).closest('[data-level]').attr('data-level') + '楼 ';
    $input.focus().val(val);
    return false;
  })
</script>
<% end -%>