<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peer</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% alert && alert.each do |k, v| %>
      <p class="alert alert-<%= k %>"><%= v %></p>
    <% end -%>
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li <%= raw 'class="active"' if request.path == root_path %>>
          <%= link_to "所有/ All Posts", root_path %>
        </li>
        <li <%= raw 'class="active"' if request.path == my_posts_path %>>
          <%= link_to "我的/ My Posts", my_posts_path %>
        </li>
        <li <%= raw 'class="active"' if request.path == new_post_path %>>
          <%= link_to '新建/ New Post', new_post_path %>
        </li>
        <li>
          <%= link_to "登出/ Sign out", logout_path %>
        </li>
      </ul>
      <h1 class="brand">
        <%= link_to "Peer", root_path, class: "text-muted" %>
      </h1>
    </div>

    <%= yield %>

    <div class="footer text-center">
      <a href="http://seiue.com" target="_blank" class="text-muted">&copy; Seiue 2013</a>
    </div>

  </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :script %>
</body>
</html>
